*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}

:root {
    --color-primary: #4D533C;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; 
}

body {
    font-family: 'Poppins', sans-serif;
    color: #4D533C;
    font-weight: 400;
    line-height: 1.6; 
}

.header{
    width: 100%;
    height: 80rem;
    display: block;
    background-image: url(./assets/img/Slider.png);
    background-size: cover;
}

.nav__box{
    width: 80%;
    display: flex;
    margin: auto;
    padding-top: 3rem;
    align-items: center;
    justify-content: space-between;
}

.nav__box__logo{
    display: block;
}

.nav__box__btn{
    background-color: #F5F6F7;
    border-radius: 50%;
    width: 4.5rem;
    height: 4.5rem;
    transition: all .2s;
    cursor: pointer;
}

.nav__box__btn:hover{
    transform: scale(1.1);
}

.nav-btn {
    border: none;
    border-radius: 0;
    background-color: black;
    height: 2px;
    width: 2.5rem;
    margin-top: 2rem; 
    margin-left: 1rem;
    transition: all.2s;
}

.nav-btn:hover{
    transform: scale(1.1);
}
    .nav-btn::before, .nav-btn::after {
      background-color: black;
      height: 2px;
      width: 2.5rem;
      content: "";
      display: block; 
    }

    .nav-btn::before {
      transform: translateY(-.7rem); 
    }
    .nav-btn::after {
      transform: translateY(.5rem); 
    }

    .header__main{
        width: 50%;
        font-family: inherit;
        margin-left: 10%;
        height: 45rem;
        margin-top: 10rem;
        display: flex;
        flex-direction: column;
    }

    .header__paragraf-iznad{
        font-size: 1.4rem;
        font-weight: 400;
        color: white;
        font-family: inherit;
    }

    .header__paragraf-ispod{
        font-size: 1.6rem;
        color: white;
        font-weight: 400;
        margin-top: 6rem;
        font-family: inherit;
    }

    .header__main__text{
        font-size: 6rem;
        font-family: inherit;
        font-weight: 600;
        color: white;
        line-height: 74px;
    }

    .header__main__link:link,
    .header__main__link:visited{
        color: #D4D6D4;
        font-family: inherit;
        font-size: 1.6rem;
        margin-top: 7rem;
    }

    .header__main__link:hover,
    header__main__link:active{
        color: #FFD723;
    }

    .header__company{
        height: 20rem;
        background-color: white;
        margin-left: 10%;
        margin-top: 10rem;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 5rem 5rem rgba(0, 0, 0, .15);
        position: relative;
        z-index: 1;
    }

    .header__company__logos{
        display: flex;
        width: 100rem;
        height: 10rem;
        align-items: center;
        justify-content: space-evenly;
    }

    .company-logo{
        
    }

.strategy{
    width: 80%;
    
    margin-left: 10%;
    display: flex;
    justify-content: space-between;

}

.strategy__text{
    margin-top: 20rem;
    width: 40%;
    height: 40rem;
    display: block;

}

.strategy__paragraf-iznad{
    font-weight: 400;
    font-size: 1.4rem;
    font-family: inherit;
    color: #4D533C;
}

.strategy__main__text{
    font-size: 3.6rem;
    font-weight: 600;
    line-height: 4.6rem;
    color: var(--color-primary);
    margin-top: 2rem;
}

.strategy__paragraf-ispod{
    font-size: 1.6rem;
    font-weight: 400;
    color: #213842;
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.strategy__main__link:link,
.strategy__main__link:visited{
    font-weight: 600;
    font-size: 1.6rem;
    color: #D4D6D4;
    margin-bottom: 3rem;
    display: block;
}

.strategy__main__link:active,
.strategy__main__link:hover{
    color: #FFD723;
}

.strategy__card{
    background-color: white;
    width: 40%;
    padding-top: 20rem;
    height: 60rem;
    box-shadow: 0 10rem 10rem rgba(0, 0, 0, .25);
}

.strategy__card-text{
    font-size: 2.4rem;
    font-style: italic;
    line-height: 4rem;
    color: var(--color-primary);
    padding-left: 6rem;
    padding-right: 3rem;
}

.strategy__card__profile{
    margin-top: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.strategy__card__profile__details{
    display: flex;
    flex-direction: column;
    margin-left: 2rem;
}

.strategy__card-img{
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    box-shadow: 0 2.5rem 4.3rem rgba(0, 0, 0, .25);
}

.strategy__card__profile-name{
    font-size: 2.2rem;
    font-weight: 600;
    color: var(--color-primary);
}

.project__heading{
    width: 80%;
    height: 15rem;
    margin-top: 25rem;
    margin-left: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project__heading-1{
    font-size: 3.6rem;
    width: 40%;
    font-weight: 600;
    color: #4D533C;
    line-height: 4.5rem;
}

.project__heading-text{
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.6rem;
    color: #213842;
    width: 50%;
}

.project__content{
    display: flex;
    
}

.project__content__picture{
    margin-top: 10rem;
    display: block;
    position: relative;
}

.project__content-img{
    width: 30%;
}

.project__content-text{
    width: 50%;
}

.project__content-txt{
    width: 60%;
    margin-top: 20rem;
    margin-left: 6rem;
}

.project__content__picture__card{
    width: 70%;
    background-color: white;
    position: absolute;
    bottom: -6rem;
    right: -3rem;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 5rem 5rem rgba(0, 0, 0, .25);
}

.project__content__picture__card-text-2{
    font-size: 1.6rem;
    margin-top: 6rem;
    line-height: normal;
}

.project__card__profile{
    margin-top: 3rem;
    display: flex;
    justify-content: start;
    margin-left: 6rem;
    margin-bottom: 5rem;
}

.font__size--16{
    font-size: 1.6rem;
}

.font__size--14{
    font-size: 1.4rem;
}

.size__img{
    width: 4rem;
    height: 4rem;
}

.project__content-2{
    display: flex;
    flex-direction: row-reverse;
    width: 90%;
    margin-left: 10%;
    margin-top: 9rem;
}

.project__content__picture__card-2{
    bottom: -6rem;
    right: 0;
    left: -3rem;
}

.project__content-3{
    margin-top: 9rem;
}

/*section cards*/

.cards__box{
    display: block;
    width: 80%;
    margin-left: 10%;
    margin-top: 20rem;
    display: flex;
    flex-direction: column;
}

.cards__heading{
    font-size: 3.6rem;
    font-weight: bold;
    line-height: 4.6rem;
    color: var(--color-primary);
    width: 55%;
}

.cards__box__content{
    display: block;
    margin-top: 8rem;
    display: flex;
    
}

.card{
    width: 100%;
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    transition: all .2s;
}

.card:hover{
    transform: scale(1.2);
    box-shadow: 5rem 5rem 10rem rgba(0, 0, 0, .25);
}

.card:hover .card__link{
    color: #FFD723;
}

.card_heading-3{
    font-size: 2.4rem;
    line-height: 3.6rem;
    font-weight: 500;
    width: 80%;
    height: 6rem;
}

.card_paragraf-3{
    font-size: 1.4rem;
    margin-bottom: auto;
    font-weight: 400;
    line-height: 2.6rem;
    color: #213842;
    width: 80%;
    margin-top: 3rem;
}

.card__link{
    font-size: 1.6rem;
    color: #D4D6D4;
    margin-top: 6rem;
    align-self: start;
    margin-left: 10%;
    margin-top: auto;
    margin-bottom: 3rem;
    position: relative;
}

/*foooter*/

.footer__heading__box{
    width: 90%;
    margin-right: 10%;
    background-color: white;
    box-shadow: 5rem 10.3rem 10rem rgba(0, 0, 0, .25);
    display: flex;
    position: absolute;
    z-index: 2;
   margin-top: 20rem;
}

.footer__heading__box__content{
    margin-left: 10%;
    margin-top: 6rem;
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer__heading{
    font-size: 6rem;
    width: 80%;
    font-weight: bold;
    line-height: 7.4rem;
    color: var(--color-primary);
}

.footer__heading__link{
    font-size: 1.6rem;
    color: #D4D6D4;
    margin-bottom: 6rem;
}

.footer{
    background-color: #4F553D;
    margin-top: 40rem;
    display: flex;
}

.footer__box{
    width: 80%;
    margin-left: 10%;
    margin-top: 25rem;
}

.footer__box__contact{
    display: flex;
}

.marg-left{
    margin-left: 6rem;
}

.phone-1, .address-1{
    font-size: 1.6rem;
    font-weight: 400;
    color: #B6C197;
    line-height: 4rem;
}

.phone-2, .address-2{
    font-size: 1.6rem;
    font-weight: bold;
    color: white;
    line-height: 4rem;
}

.footer__heading__box__links{
    display: flex;
    margin-top: 6rem;
}

.links__card{
    width: 45%;
}

.links__card__social{
    width: 100%;
    position: relative;
    padding-left: 10rem;
}

.links__card__social::before{
    content: "";
    height: 70%;
    width: 1px;
    background-color: #5D6544;
    position: absolute;
    top: 2.5rem;
    left: 0;
}
/*footer stayle*/

.link__heading{
    font-size: 1.6rem;
    color: white;
    font-weight: 600;
    line-height: 3.6rem;
    margin-bottom: 3rem;
}

.link__list{

}

.link__footer__li{
    list-style: none;
}

.link__footer:link,
.link__footer:visited{
    font-size: 1.6rem;
    display: block;
    font-weight: 400;
    color: #B6C197;
    margin-bottom: 2rem;
    text-decoration: none;
}

.link__footer:active,
.link__footer:hover{
    color: #FFD723;
}

.email{
    font-size: 2.4rem;
    font-weight: bold;
    color: white;
    line-height: 3.8rem;
    margin-top: 3rem;
}

.social__box__btn{
    display: flex;
}

.social__btn{
    list-style: none;
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    margin-top: 4rem;
    margin-right: 2rem;
    background-color: #444A34;
}

.social__btn:hover{
    background-color: #FFD723;
}

/*copyright and logo*/

.footer__heading__box__copyright{
    display: flex;
    justify-content: space-between;
    margin-top: 7rem;
    margin-bottom: 3rem;
}

.copyright{
    font-size: 1.4rem;
    line-height: 1.9rem;
    font-weight: normal;
    color: #B5C096;
}

.foot__logo{
    height: 2rem;
}
